* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
  /* background-color: rgba(22,22,29,1); */
  background-color: #2A2A37;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* --------------------------------------- */
/* modules left */
/* --------------------------------------- */
.modules-left {
    background-color: #1F1F28;
}

#custom-mode {
    color: #98BB6C;
    background-color: #16161D;
    font-weight:900;
    padding: 0 1em;
}

#custom-mode-slant {
  color: #16161D;
  font-size: 15px;
}

#custom-module-left-slant {
  color: #1F1F28;
  background-color: #2A2A37;
  font-size: 15px;
}

#mode {
    margin-left: -1em;
    font-size:8px;
    color: #CCA3F8;
}

/* --------------------------------------- */
/* modules center */
/* --------------------------------------- */
.modules-center {
    /* background-color: rgba(13,17,23,0.5); */
  /* background-color: #16161D; */
}

#custom-workspaces-slant-left,
#custom-workspaces-slant-right {
  font-size: 15px;
  color: #16161D;
}

#workspaces button {
    padding: 0 5px;
    background-color: #16161D;
    border-radius: 0;
    /* broken slant icon  */
    margin-left: -6px;
    color: #717C7C;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: #98BB6C;
    background: #16161D;
    /* border: 20px; */
    padding: 0 5px;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    color: #FFA066;
}

#workspaces button.urgent {
    color: #FF5D62;
}

/* --------------------------------------- */
/* modules right */
/* --------------------------------------- */
.modules-right {
    background-color: #1F1F28;
}

#custom-separator {
  color: #363646;
}

#custom-module-right-slant {
  font-size: 15px;
  margin-right: -6px;
  color: #1F1F28;
  background-color: #2A2A37;
}

#custom-module-left-slant {
  color: #1F1F28;
  background-color: #2A2A37;
  font-size: 15px;
}

#clock {
  color: #98BB6C;
  background-color: #16161D;
  padding: 0 5px;
  font-weight: 900;
}

#custom-clock-slant {
  font-size: 15px;
  color: #16161D;
  margin-right: -6px;
}

#battery {
  color: #957FB8;
  padding-left: 5px;
}

#backlight {
  color: #DCD7BA;
}

#network {
  color: #FFA066;
}

#pulseaudio {
  color: #7E9CD8;
}

#backlight,
#network,
#pulseaudio,
#tray{
    padding: 0 5px;
}


#battery.charging, #battery.plugged {
    color: #76946A;
}

@keyframes blink {
    to {
        color: #C8C093;
    }
}

#battery.critical:not(.charging) {
    color: #E82424;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#pulseaudio.muted {
    color: #717C7C;
}


