window {
    background-color: rgba(22,22,29,0.5);
    border-radius: 5px;
    font-family: Ioseva\ Nerd\ Font;
}

#input {
    margin: 5px;
    outline-style:none;
    color: rgba(200, 192, 147, 1);
    background-color: rgba(54,54,70,0.5);
}

#input image:first-child {
    margin-left: -100px;
}

#inner-box {
    margin: 5px;
    padding: 5px;
    color: #717C7C;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
}

#entry:selected {
    background-color:#FFA066;
}

#entry:selected label, #entry:selected image {
    color: rgba(22,22,29,1);
    background-color: rgba(255, 160, 102, 0.5);
    border: 0px;
}
